* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    color: #0e3c70;
    font-weight: 500;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    background: #D9E1E8;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 5;
}

header a {
    color: #222222;
}

.header-content {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px 12px;
}

.burger-box {
    max-width: 500px;
}

.header-logo img {
    width: 120px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.buttons a {
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
}

.active {
    color: rgb(194, 165, 0);
    font-weight: 500;
    border-bottom: 2px solid rgb(194, 165, 0);
}

.buttons a:hover {
    color: #034f84;
    font-weight: 600;
    border-bottom: 2px solid #2f6e9b;
    border-top: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}

.background {
    background: url('./images/bg-site.jpg');
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #F5F5F5;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    background-image: url(./images/hotel-hall.jpg);
}

.zatemnenya {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.content {
    z-index: 2;
    padding: 125px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bouqt {
    max-width: 800px;
    padding-left: 20px;
    border-left: 2px solid white;
}
.section1-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.section1-buttons a {
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: background-color 1s, color 1s;  
}

.section1-buttons a:hover {
    background: white;
    color: #8d8d8d;
}
.oreand-text {
    color: rgb(252, 224, 70);
    font-weight: 600;
}

.content h1,
.content h2 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.content blockquote {
    font-family: 'Cinzel', serif;
    font-weight: 600;
}

.item2 h2 {
    max-width: 500px;
    font-weight: 500;
    font-size: 17px;
}

.item1 h1 {
    max-width: 500px;
    font-size: 30px;
}

.two-i-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#burger,
[for=burger] {
    display: none;
}

[for=burger] img {
    width: 45px;
    height: 45px;
}

@media (max-width: 1000px) {
    [for=burger] {
        display: block;
    }

    .buttons {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100px;
        right: 10px;
        background: #D9E1E8;
        padding: 10px;
        border: 2px solid rgba(194, 165, 0, 0.2);
        border-radius: 10px;
    }

    #burger:checked+label+.buttons {
        display: flex;
    }

    #burger:checked+label img {
        content: url('./images/X-bruger.png');
    }
}

@media (max-width: 600px) {
    .two-i-box {
        flex-direction: column;
    }

    .item2 h2 {
        max-width: 500px;
        font-weight: 500;
        font-size: 15px;
    }

    .item1 h1 {
        max-width: 500px;
        font-size: 26px;
    }
}

@media (max-width: 420px) {
    .text-box h1 {
        font-size: 23px;
    }

    .text-box h2 {
        font-size: 19px;
    }
}