@font-face {
    font-family: 'HandFontUA2';
    src: url('./fonts/Рукописний2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HandFontUA1';
    src: url('./fonts/Рукописний1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    color: #0e3c70;
    font-weight: 500;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    background: #D9E1E8;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
}

header a {
    color: #222222;
}

.header-content {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px 12px;
}
.burger-box {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 120px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.buttons a {
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
}

.active {
    color: rgb(194, 165, 0);
    font-weight: 500;
    border-bottom: 2px solid rgb(194, 165, 0);
}

.buttons a:hover {
    color: #034f84;
    font-weight: 600;
    border-bottom: 2px solid #2f6e9b;
    border-top: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #777774;
}
.carousel{
    width: 100%;
    max-height: 820px;
}
.big-margin {
    margin-top: 100px;
}
.carousel-inner img {
    max-height: calc(80vh - 100px);
    width: 100%;
}
.carousel-item {
    max-height: 820px;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#burger,
[for=burger] {
    display: none;
}

[for=burger] img {
    width: 45px;
    height: 45px;
}

footer {
    position: relative;
    width: 100%;
    min-height: 20vh;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #d5dde4;
}

footer p {
    color: #222222;
    font-weight: 600;
}

.circle-box1 {
    background: #c7ced4;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 1s;
}

.circle-box2 {
    border: 1px solid rgb(194, 165, 0);
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-box1:hover {
    background: #b5bcc2;
}

.circle-box1:hover p {
    color: #0e3c70;
    font-weight: 550;
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: #222222;
    font-weight: 600;
}

.grey {
    color: #363636;
    font-family: HandFontUA1, cursive;
    font-weight: 600;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.itm4 {
    display: flex;
    gap: 10px;
}
.itm4 img {
    width: 40px;
}

.itm1,
.itm2,
.itm3,
.itm4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.itm2 {
    flex-direction: column;
    align-items: start;
}

.itm2 a {
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgba(148, 127, 11, 0.562);
    border-radius: 20px;
    font-weight: 700;
    color: rgba(148, 127, 11, 0.562);
    transition: background-color 1s, color 1s;
}

.itm2 a:hover {
    padding: 12px 20px;
}

.itm3 {
    flex-direction: column;
}

.itm3 a:hover {
    text-decoration: underline;
}

.itm4-s:hover {
    border-bottom: 2px solid black;
}

@media (max-width: 1000px) {
    [for=burger] {
        display: block;
    }

    .buttons {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100px;
        right: 10px;
        background: #D9E1E8;
        padding: 10px;
        border: 2px solid rgba(194, 165, 0, 0.2);
        border-radius: 10px;
    }

    #burger:checked+label+.buttons {
        display: flex;
    }

    #burger:checked+label img {
        content: url('./images/X-bruger.png');
    }
}

@media (max-width: 605px) {
    .footer-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .circle-box1 {
        display: none;
    }

    .itm2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rooms-box img {
        width: 300px;
        height: 150px;
    }
    .grey {
        font-size: 20px;
        text-align: center;
    }
}
