@font-face {
    font-family: 'HandFontUA2';
    src: url('./fonts/Рукописний2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HandFontUA1';
    src: url('./fonts/Рукописний1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    color: #0e3c70;
    font-weight: 500;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    background: #D9E1E8;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
}

header a {
    color: #222222;
}

.header-content {
    display: flex;
    max-width: 1100px;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px 12px;
}
.burger-box {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 120px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.buttons a {
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
}

.active {
    color: rgb(194, 165, 0);
    font-weight: 500;
    border-bottom: 2px solid rgb(194, 165, 0);
}

.buttons a:hover {
    color: #034f84;
    font-weight: 600;
    border-bottom: 2px solid #2f6e9b;
    border-top: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
    display: none;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #e4e4de;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
}

.one {
    background-image: url(./images/room.jpg);
    align-items: flex-end;
    /* border: 2px solid white; */
}

.zatemnenya {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.content {
    z-index: 2;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    /* border: 2px solid white; */
}

.oreand-text {
    color: rgb(223, 195, 36);
    font-weight: 600;
}

.content h1,
.content h2 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.text-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0px 40px;
    /* border: 2px solid white; */
}

.text-logo img {
    max-width: 250px;
}

.text-logo h1 {
    font-size: 130px;
    font-family: HandFontUA2, cursive;
}

.two {
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.nav-bar {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(148, 127, 11, 0.562);
    border-top: 1px solid rgba(148, 127, 11, 0.562);
}

.box-2i {
    max-width: 800px;
    padding: 10px 0px;
    display: flex;
    gap: 20px;
}

.box-2i h2 {
    color: rgba(112, 112, 112, 0.925);
    font-weight: 700;
}

.box-2i .item {
    text-align: center;
    padding-right: 15px;
}

.onee {
    border-right: 1px solid rgba(148, 127, 11, 0.562);
}

.rooms-main {
    width: 100%;
    padding: 50px 0px;
}

.h11 {
    max-width: 800px;
    text-align: center;
}

.h1-box {
    display: flex;
    justify-content: center;
}

.rooms-main h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: HandFontUA1, cursive;
    color: rgba(112, 112, 112, 0.925);
}

.rooms-box {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.rooms-box img {
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.img-centre {
    display: flex;
    justify-content: center;
}

.items {
    border-top: 2px solid rgba(148, 127, 11, 0.562);
    border-bottom: 2px solid rgba(148, 127, 11, 0.562);
    border-top: 2px solid rgba(148, 127, 11, 0.562);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.items:nth-child(odd) {
    border-right: 2px solid rgba(148, 127, 11, 0.562);
}

.items:nth-child(even) {
    border-left: 2px solid rgba(148, 127, 11, 0.562);
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc h1 {
    color: #222222d3;
    font-size: 46px;
}

.desc p {
    color: #222222d3;
    font-size: 24px;
    font-weight: 550;
}

.desc-4-box {
    display: flex;
    gap: 25px;
}

.section1-buttons {
    display: flex;
    gap: 15px;
}

.section1-buttons a {
    text-decoration: none;
    padding: 10px 0px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgba(148, 127, 11, 0.562);
    border-radius: 20px;
    font-weight: 700;
    color: rgba(148, 127, 11, 0.562);
    transition: background-color 1s, color 1s;
}

.section1-buttons a:hover {
    background: rgba(148, 127, 11, 0.562);
    color: #222222d3;
    border: none;
    padding: 12px 0px;
}


#burger,
[for=burger] {
    display: none;
}

[for=burger] img {
    width: 45px;
    height: 45px;
}
footer {
    position: relative;
    width: 100%;
    min-height: 20vh;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #d5dde4;
}

footer p {
    color: #222222;
    font-weight: 600;
}

.circle-box1 {
    background: #c7ced4;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 1s;
}

.circle-box2 {
    border: 1px solid rgb(194, 165, 0);
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-box1:hover {
    background: #b5bcc2;
}

.circle-box1:hover p {
    color: #0e3c70;
    font-weight: 550;
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: #222222;
    font-weight: 600;
}

.grey {
    color: #363636;
    font-family: HandFontUA1, cursive;
    font-weight: 600;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.itm4 {
    display: flex;
    gap: 10px;
}

.itm4 img {
    width: 40px;
}

.itm1,
.itm2,
.itm3,
.itm4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.itm2 {
    flex-direction: column;
    align-items: start;
}

.itm2 a {
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgba(148, 127, 11, 0.562);
    border-radius: 20px;
    font-weight: 700;
    color: rgba(148, 127, 11, 0.562);
    transition: background-color 1s, color 1s;
}

.itm2 a:hover {
    padding: 12px 20px;
}

.itm3 {
    flex-direction: column;
}

.itm3 a:hover {
    text-decoration: underline;
}

.itm4-s:hover {
    border-bottom: 2px solid black;
}

@media (max-width: 1000px) {
    [for=burger] {
        display: block;
    }

    .buttons {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100px;
        right: 10px;
        background: #D9E1E8;
        padding: 10px;
        border: 2px solid rgba(194, 165, 0, 0.2);
        border-radius: 10px;
    }

    #burger:checked+label+.buttons {
        display: flex;
    }

    #burger:checked+label img {
        content: url('./images/X-bruger.png');
    }

    .h11 h1 {
        font-size: 30px;
    }

    .text-logo {
        display: flex;
        flex-direction: column;
    }

    .order1 {
        order: -1;
    }

    .text-logo h1 {
        font-size: 80px;
    }
}

@media (max-width: 1750px) {
    .rooms-main {
        width: 90%;
        padding: 25px 0px;
    }
}

@media (max-width: 1430px) {
    .rooms-main {
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 1300px) {
    .rooms-box img {
        width: 450px;
        height: 250px;
    }

    .desc h1 {
        color: #222222d3;
        font-size: 40px;
    }

    .desc p {
        color: #222222d3;
        font-size: 18px;
        font-weight: 550;
    }
}

@media (max-width: 970px) {
    .rooms-box {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 2px;
    }

    .items {
        border: 2px solid rgba(148, 127, 11, 0.562);
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 505px) {
    .text-logo h1 {
        font-size: 60px;
    }
}

@media (max-width: 605px) {
    .footer-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .circle-box1 {
        display: none;
    }

    .itm2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rooms-box img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 355px) {
    .text-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .content{
        padding-top: 50px;
        
    }
    .one {
        align-items: center;
    }
    .text-logo h1 {
        font-size: 32px;
        display: block;
        text-align: center;
        line-height: 1.1;
    }
    .h11 h1{
        font-size: 22px;
        padding-top: 40px;
    }
    .text-logo img {
        width: 150px;
        display: block;
    }

    .rooms-box img {
        width: 100%;
        max-width: 300px;
    }
    .items {
        padding: 15px;
    }
    .desc h1 {
        font-size: 28px;
        text-align: center;
    }
    .desc p {
        font-size: 16px;
        text-align: center;
        line-height: 1.3;
    }

    .desc-4-box {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .section1-buttons a {
        padding: 8px 0;
        font-size: 14px;
        border-radius: 16px;
    }
    .footer-box {
        flex-direction: column;
        gap: 15px;
    }

    .itm4 img {
        width: 28px;
    }
    .grey {
        font-size: 20px;
        text-align: center;
    }
}